
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: $white;
}

#footer-main {
	padding-top: 5rem;
    padding-bottom: 2rem;
}

#footer-bottom {
	padding-bottom: 3rem;

	a, p {
		font-family: Gilroy-semibold;
		font-size: 0.875rem;
	}
}
