
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#discount-form {
    .input-group-append {
        margin-left: -1rem;
    }

    button {
        background-image: linear-gradient(180deg, #fdd1ac, transparent);
    }
}

#appoitnment-form {
    button {
        background-image: linear-gradient(180deg, #fdd1ac, transparent);
    }
}

#contact {
	button {
        background-image: linear-gradient(180deg, #fdd1ac, transparent);
	}
}