
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/
.fbox {
	margin-bottom: 1.875rem;
	max-width: 11rem;

	.fbox-icon {
		img {
			min-width: 3rem;
			height: 3rem;
			display: flex;
			justify-content: center;
		}
	}
}