
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 3rem; 
	position: relative;
	
	.title {
		letter-spacing: 0.3rem;
		line-height: 1.35;
		font-style: italic;
	}

	ul {
		li {
			a {
				font-size: 0.875rem;
				color: $dark;
			}
		}
	}
}