
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	margin-bottom: 1.35rem;

	.icon-wrapper {
		i {
			color: $theme-color;
			font-size: 1.25rem;
		}
	}
	.icon-header {
		font-family: Gilroy-Medium;
		line-height: 1.5;
		color: $dark;
	}
}