.logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	.logo-item {
		position: relative;
		max-width: 11.625rem;
		height: 5.5rem;
		display: flex;
		border: 1px solid #c5c5c2;
		justify-content: center;
		margin: auto;

		img {
			width: auto;
			height: auto;
		}

		&:not(:last-child) {
			&:after {
				position: absolute;
				right: -3rem;
				bottom: 1rem;
				content: "";
				display: inline-block;
				width: 1px;
				height: 3rem;
				background-color: #3c323e;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		padding: 0 !important;
	}
} 